{% load static %}
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-cog me-2"></i>
                <span class="d-none d-lg-inline-flex">Settings</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="/agency/edit_profile" class="dropdown-item">Edit Profile</a>
            </div>
        </div>
    </div>
</nav>